<div class="completed-template-bg">
<div class="container note-pad">

 <p class="completed-template-title"> <span class="completed-template-title fs-3 text-center">"{{story.title}}"...</span> 
<p class ="completed-template-text fs-4">One day I'll tell my grand-<span class="text-danger">{{story.words.0.the_word}}</span> about the year 2020... the year when people couldn't go outside without a <span class="text-danger">{{story.words.1.the_word}}</span> on their face, and had to <span class="text-danger">{{story.words.2.the_word}}</span> at least <span class="text-danger">{{story.words.3.the_word}}</span> apart. It was considered <span class="text-danger">{{story.words.4.the_word}}</span> when someone would <span class="text-danger">{{story.words.5.the_word}}</span> or sneeze in public, and you <span class="text-danger">{{story.words.6.the_word}}</span> at people for <span class="text-danger">{{story.words.7.the_word}}</span> too close to you. We couldn't go to work so we had virtual <span class="text-danger">{{story.words.8.the_word}}</span>s and never showered or <span class="text-danger">{{story.words.9.the_word}}</span>. What a <span class="text-danger">{{story.words.10.the_word}}</span> year.</p>

<button type="button" class="btn btn-danger save-story-button">save story</button>
<a href="" class="ps-2 play-again-delete">Play again</a>

</div>
</div>
<script src="/javascript/save-template.js"></script>
<script src="/javascript/delete-completed.js"></script>
<script src="/javascript/sparkle.min.js"></script>
<script src="/javascript/sparkle-header.js"></script>