<div class="completed-template-bg">
<div class="container note-pad">

 <p class="completed-template-title"> <span class="completed-template-title fs-3 text-center">"{{story.title}}"...</span> 
<p class ="completed-template-text fs-4"> You know you're a 90's kid if your <span class="text-danger">{{story.words.0.the_word}}</span> goal in life was to keep your Tamagotchi <span class="text-danger">{{story.words.1.the_word}}</span>. This was pretty <span class="text-danger">{{story.words.2.the_word}}</span> because you were usually under the <span class="text-danger">{{story.words.3.the_word}}</span> influence of <span class="text-danger">{{story.words.4.the_word}}</span> too many scented markers or scratch and sniff stickers. However, you stayed <span class="text-danger">{{story.words.5.the_word}}</span> because you always <span class="text-danger">{{story.words.6.the_word}}</span> your Flinstone's vitamins. You sustained your energy levels by <span class="text-danger">{{story.words.7.the_word}}</span> <span class="text-danger">{{story.words.8.the_word}}</span> amounts of dunkaroos and bagel bites, and you always felt <span class="text-danger">{{story.words.9.the_word}}</span> because you listened to the "Spice Girls" and "<span class="text-danger">{{story.words.10.the_word}}</span>'s boy band" on your walkman. It was considered fashionable to <span class="text-danger">{{story.words.11.the_word}}</span> <span class="text-danger">{{story.words.12.the_word}}</span> and scrunchies, or frost the <span class="text-danger">{{story.words.13.the_word}}</span> of your hair. What a time to be <span class="text-danger">{{story.words.14.the_word}}</span>! </p>

<button type="button" class="btn btn-danger save-story-button">save story</button>
<a href="/dashboard" class="ps-2">Play again</a>

</div>
</div>
<script src="/javascript/save-template.js"></script>