<div class="completed-template-bg">
<div class="container note-pad">

 <p class="completed-template-title"> <span class="completed-template-title fs-3 text-center">"{{story.title}}"...</span> 
<p class ="completed-template-text fs-4">I signed up for bootcamp because I wanted to <span class="text-danger">{{story.words.0.the_word}}</span> how to code and <span class="text-danger">{{story.words.1.the_word}}</span> <span class="text-danger">{{story.words.2.the_word}}</span> money. Things started out <span class="text-danger">{{story.words.3.the_word}}</span> good, but things took a turn for the <span class="text-danger">{{story.words.4.the_word}}</span> when we started to learn about database <span class="text-danger">{{story.words.5.the_word}}</span>. The struggle is <span class="text-danger">{{story.words.6.the_word}}</span>. Most days I look like a sack of <span class="text-danger">{{story.words.7.the_word}}</span>... My mind is <span class="text-danger">{{story.words.8.the_word}}</span> and I feel like I have <span class="text-danger">{{story.words.9.the_word}}</span> <span class="text-danger">{{story.words.10.the_word}}</span> for brains. But I won't quit, I will simply <span class="text-danger">{{story.words.11.the_word}}</span> harder.</p>

<button type="button" class="btn btn-danger save-story-button">save story</button>
<a href="/dashboard" class="ps-2">Play again</a>


{{!--<p>I signed up for bootcamp because I wanted to (verb) how to code and (verb) (adjective) money. Things started out (adjective) good, but things took a turn for the (adjective) when we started to learn about database (plural noun). The struggle is (adjective). Most days I look like a sack of (plural noun)... My mind is (adjective) and I feel like I have (noun) for brains. But I won't quit, I will simply (adjective) harder.</p>--}}

</div>
</div>
<script src="/javascript/save-template.js"></script>

<script src="/javascript/sparkle.min.js"></script>
<script src="/javascript/sparkle-header.js"></script>