{{!--******************* I wrote the text content for this unicorn template after looking at the following source  https://www.woojr.com/unicorn-activity-pages-for-kids/unicorn-mad-libs/"****************--}}

<div class="completed-template-bg">
<div class="container note-pad">

 <p class="completed-template-title"> <span class="completed-template-title fs-3 text-center">"{{story.title}}"...</span> 
<p class= 'completed-template-text fs-4 '>Unicorns aren't like other <span class="text-danger">{{story.words.0.the_word}}</span>; they're <span class="text-danger">{{story.words.1.the_word}}</span>. They look like <span class="text-danger">{{story.words.2.the_word}}</span>, with <span class="text-danger">{{story.words.3.the_word}}</span> for feet and a <span class="text-danger">{{story.words.4.the_word}}</span> mane of hair. Unicorns are also <span class="text-danger">{{story.words.5.the_word}}</span> and have a <span class="text-danger">{{story.words.6.the_word}}</span> <span class="text-danger">{{story.words.7.the_word}}</span> on their heads. Some <span class="text-danger">{{story.words.8.the_word}}</span> don't believe unicorns are <span class="text-danger">{{story.words.9.the_word}}</span> but I believe in them. I would love to <span class="text-danger">{{story.words.10.the_word}}</span> a unicorn to faraway <span class="text-danger">{{story.words.11.the_word}}</span>. One thing I've always <span class="text-danger">{{story.words.12.the_word}}</span> about is whether unicorns <span class="text-danger">{{story.words.13.the_word}}</span> rainbows, or if their <span class="text-danger">{{story.words.14.the_word}}</span> is <span class="text-danger">{{story.words.15.the_word}}</span> like any other animals? </p>

<button type="button" class="btn  save-story-button">save story</button>
<a href="/dashboard" class="play-again-link">Play again</a>

{{!--sourced from - https://www.woojr.com/unicorn-activity-pages-for-kids/unicorn-mad-libs/--}}

{{!--<p>Unicorns aren't like other (plural noun); they're (adjective). They look like (plural noun; animals), with (plural noun) for feet and a (adjective) mane of hair. But unicorns are (color) and have a (adjective) (noun) on their heads. Some (plural noun) don't believe unicorns are (adjective) but believe in them. I would love to (verb) a unicorn to faraway (plural noun). One thing I've always (verb ending in -ed) about is whether unicorns (verb) rainbows, or is their (noun) (adjective) like any other animals? </p>}}

unicornArray = [plural noun,adjective, plural noun (animals),plural noun, adjective,color,adjective, noun, plural noun, adjective, verb, plural noun, verb ending in -ed, verb, noun, adjective]
--}}
</div>
</div>
<script src="/javascript/save-template.js"></script>
<script src="./dist/sparkle.min.js"></script>


