<div class="completed-template-bg">
<div class="container note-pad">

 <p class="completed-template-title"> <span class="completed-template-title fs-3 text-center">"{{story.title}}"...</span> 
<p class ="completed-template-text fs-4">Mickey Mouse is <span class="text-danger">{{story.words.1.the_word}}</span>, and has giant <span class="text-danger">{{story.words.2.the_word}}</span>! Many people think that Mickey and Minnie are the only famous <span class="text-danger">{{story.words.3.the_word}}</span>, but that's just not true. They have some famous <span class="text-danger">{{story.words.4.the_word}}</span> named: <span class="text-danger">{{story.words.5.the_word}}</span> mouse, <span class="text-danger">{{story.words.6.the_word}}</span> rat, and Dippy <span class="text-danger">{{story.words.7.the_word}}</span>. If you ever visit the Magic <span class="text-danger">{{story.words.8.the_word}}</span>, be sure to say hi to Mickey on your way to <span class="text-danger">{{story.words.9.the_word}}</span> cafe! The <span class="text-danger">{{story.words.10.the_word}}</span> and <span class="text-danger">{{story.words.11.the_word}}</span> are delicious. Mickey's favorite food on the menu is the <span class="text-danger">{{story.words.12.the_word}}</span> with whipped cream. When you're ready to, wave goodbye to <span class="text-danger">{{story.words.13.the_word}}</span>, and be sure to <span class="text-danger">{{story.words.14.the_word}}</span> out of the park.

<button type="button" class="btn btn-danger save-story-button">save story</button>
<a href="/dashboard" class="ps-2">Play again</a>

{{!--<p>Mickey Mouse is (adjective), and has giant (plural body part)! Many people think that Mickey and Minnie are the only famous (animal), but that's just not true. They have some famous (family members) named: (Name) mouse, (Name) rat, and Dippy (animal). If you ever visit the Magic (Place) be sure to say hi to Mickey on your way to (food) cafe! The (adjective;food) and (color;food) are delicious. Mickey's favorite food on the menu is the (bugs) with whipped cream. When you're ready to, wave goodbye to (Disney character), and be sure to (verb) out of the park.
</p>--}}

</div>
</div>
<script src="/javascript/save-template.js"></script>