{{!--******************* I wrote the text content for this political-speech template after looking at the following source https://www.pinterest.com/pin/48554502212102985/ "****************--}}
<div class="completed-template-bg">
<div class="container note-pad">
 <p class="completed-template-title"> <span class="completed-template-title fs-3 text-center"> "{{story.title}}"...</span></p>
<p class= 'completed-template-text fs-4 '>Ladies and gentleman, on this <span class="text-danger">
     {{story.words.0.the_word}}</span> occasion it is a privilege to address such a /an <span class="text-danger">
    {{story.words.1.the_word}}</span> -looking group of<span class="text-danger">
     {{story.words.2.the_word}}</span>. I can tell from your smiling<span class="text-danger">
    {{story.words.3.the_word}}</span> that you will support my <span class="text-danger">
     {{story.words.4.the_word}}</span> program in the upcoming election. I promise that, if elected, there will be a / an<span class="text-danger">
    {{story.words.5.the_word}}</span> in every <span class="text-danger">
     {{story.words.6.the_word}}</span> and two <span class="text-danger">
    {{story.words.7.the_word}}</span>  in every garage. I want to warn you against my <span class="text-danger">
     {{story.words.8.the_word}}</span> opponent, Mr. <span class="text-danger">
    {{story.words.9.the_word}}</span>  the man is nothing but a / an <span class="text-danger">
     {{story.words.10.the_word}}</span>   <span class="text-danger">
    {{story.words.11.the_word}}</span>. He has a / an <span class="text-danger">
     {{story.words.12.the_word}}</span> character and is working <span class="text-danger">
    {{story.words.13.the_word}}</span> in glove with a criminal element. If elected, I promise to eliminate vice. I will keep the <span class="text-danger">
     {{story.words.14.the_word}}</span> off the city streets. I will keep crooks from dipping their <span class="text-danger">
    {{story.words.15.the_word}}</span> in the public till. I promise you<span class="text-danger">  
     {{story.words.16.the_word}}</span> government, <span class="text-danger">
    {{story.words.17.the_word}}</span> taxes, and<span class="text-danger">
     {{story.words.18.the_word}}</span> schools.</p>

     <button type="button" class="btn  save-story-button">save story</button>
    <a href="" class="play-again-link play-again-delete">Play again</a>
</div>
</div>



<script src="/javascript/save-template.js"></script>
<script src="/javascript/delete-completed.js"></script>
<script src="/javascript/sparkle.min.js"></script>
<script src="/javascript/sparkle-header.js"></script>