<div class="completed-template-bg">
<div class="container note-pad">

 <p class="completed-template-title"> <span class="completed-template-title fs-3 text-center">"{{story.title}}"...</span> 
<p class ="completed-template-text fs-4">Dogs and cats can be best of friends, but also worst enemies! Sometimes, dogs will <span class="text-danger">{{story.words.1.the_word}}</span> after cats, just to make them <span class="text-danger">{{story.words.2.the_word}}</span> angry! Other times, cats will <span class="text-danger">{{story.words.3.the_word}}</span> on a dog's <span class="text-danger">{{story.words.4.the_word}}</span> just for fun. Cats and dogs can be nice, too. They cuddle, and sleep on <span class="text-danger">{{story.words.5.the_word}}</span> together, or eat <span class="text-danger">{{story.words.6.the_word}}</span> together. They'll even chase <span class="text-danger">{{story.words.7.the_word}}</span> down <span class="text-danger">{{story.words.8.the_word}}</span> together! But, alas, they are long-time foes, and often end up <span class="text-danger">{{story.words.9.the_word}}</span>, fight, hissing, growling, and <span class="text-danger">{{story.words.10.the_word}}</span> at each other over <span class="text-danger">{{story.words.11.the_word}}</span>!

<button type="button" class="btn btn-danger save-story-button">save story</button>
<a href="/dashboard" class="ps-2">Play again</a>

{{!--<p>Dogs and cats can be best of friends, but also worst enemies! Sometimes, dogs will (verb) after cats, just to make them (advective-ly) angry! Other times, cats will (verb) on a dog's (body part) just for fun. Cats and dogs can be nice, too. They cuddle, and sleep on (plants) together, or eat (adjective;food) together. They'll even chase (nouns) down (your street name) together! But, alas, they are long-time foes, and often end up (verb-ing), fight, hissing, growling, and (verb-ing) at each other over (food)!</p>--}}

</div>
</div>
<script src="/javascript/save-template.js"></script>